table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  /* border: 1px solid black; */
  text-align: left;
  padding: 8px;  
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
.routine th, tr, td {
  border: 1px solid black;
  text-align: center;
}
.routine th:nth-child(even),td:nth-child(even) {
  background-color: #D6EEEE;
}